@import '../../../mixins.scss';

.disNone {
    display: none !important;
}

.done-button-inner {
    display: none;
    width: fit-content;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    background-color: white;
    cursor: pointer;

    &.new-active {
        @include disFlex($aI: center, $jC: center);
    }

    p {
        font-family: 'universe-condensed-medium', Arial, sans-serif;
        color: black;
        width: fit-content;
        margin: 0;
        padding: 0;
    }
}