@import '../../../mixins.scss';

.taken-card-inner {
    @include position($pos: relative, $t: 0, $l: 0);

    .hidden {
        opacity: 0 !important;
        z-index: 0;
    }

    img {
        width: 100%;
        height: auto;
        z-index: 1;
    }

    &.hover-card {
        &:hover {
            animation: scaleBigger linear 0.125s;
            transform: scale(1.1);
        }
    }
}

@keyframes scaleBigger {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes make-card-even-bigger {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(2.5);
    }
}