<div class="field">
    <div *ngIf="!gameModel.loadingPlayers; else loadingPlayerTemplate"
        [ngClass]="{'player-bar': true, 'players-shown': playersShown && !playersHidden, 'players-hidden': !playersShown && playersHidden}">
        @if(gameModel.playersArray && gameModel.playersArray.length > 0){
        @for(player of gameModel.playersArray; track player; let index = $index) {
        <app-player [name]="gameModel.playersArray[index].name"
            [backgroundColor]="gameModel.playersArray[index].isActive ? 'red' : player.bgColor"
            [ngClass]="{'is-active': gameModel.playersArray && gameModel.playersArray[index].isActive}">
        </app-player>
        }
        }
    </div>

    <ng-template #loadingPlayerTemplate>
        <p>Loading players...</p>
    </ng-template>

    <div *ngIf="!gameModel.loadingCards; else loadingCardTemplate" class="card-stack">
        <!-- Nur anzeigen, wenn die Karten geladen sind -->
        <div *ngFor="let playingCard of gameModel.stack; let index = index">
            <playing-card [ngClass]="{'last-card': index === gameModel.stack.length-1}" [cardStack]="gameModel.stack"
                [cardPositions]="gameModel.playedCardPositions" [cardIndex]="index"
                [cardFrontBack]="{backUrl: gameModel.cardBackLink, frontUrl: playingCard}"
                [ngStyle]="{'z-index': index}">
            </playing-card>
        </div>
        <card-dummy></card-dummy>
    </div>

    <ng-template #loadingCardTemplate>
        <p>Loading cards...</p>
    </ng-template>

    @for(takenCard of gameModel.takenCardsArray; track takenCard+index; let index = $index) {
    <taken-card [takenCardIndex]="index" [takenCards]="gameModel.takenCardsArray"
        [ngStyle]="{'left.%': gameModel.playedCardPositions[index].xCoord,'top.%': gameModel.playedCardPositions[index].yCoord,'transform': 'translate(' + gameModel.playedCardPositions[index].translation + ')' + 'rotate(' + gameModel.playedCardPositions[index].angle + 'deg) '}">
    </taken-card>
    }

    <div class="buttons">
        <done-button (click)="gameModel.setNewPlayerActive()">
        </done-button>
        <!-- <button mat-fab color="primary" aria-label="Example icon button with a delete icon"
            [ngClass]="{'add-player': true, 'disNone': gameModel.myselfExists}" (click)="gameModel.openDialog()">
            <mat-icon>add</mat-icon>
        </button> -->

        <button mat-fab color="primary" aria-label="Example icon button with a delete icon"
            [ngClass]="{'show-hide-players': true, 'disNone': playersHidden}" (click)="showHidePlayers()">
            <mat-icon>visibility</mat-icon>
        </button>

        <button mat-fab color="primary" aria-label="Example icon button with a delete icon"
            [ngClass]="{'show-hide-players': true, 'disNone': !playersHidden}" (click)="showHidePlayers()">
            <mat-icon>visibility_off</mat-icon>
        </button>
        <game-info></game-info>
    </div>

</div>