@import '../../mixins.scss';

.field {
    @include disFlex($aI: center, $jC: center);
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background-image: url('/assets/images/board.jpg');
    background-size: 100% auto;
    @include position($pos: relative, $t: 0, $l: 0);

    .card-stack {
        min-width: 100px;
        width: 7.65625%;
        max-width: 115px;
        aspect-ratio: 23 / 36;
        @include position($pos: relative);

        .card-image {
            width: 100%;
        }

        playing-card {
            width: 100%;
            height: 100%;
            @include position($pos: absolute, $t: 0, $l: 0);
            // transform: translate(-50%, -50%);
        }
    }

    taken-card {
        width: 100px;
        @include position($pos: absolute, $t: 0, $l: 0);

        img {
            width: 100%;
            height: auto;
            transform: scaleX(1) !important;
        }
    }

    .ring-stack {
        @include position($pos: relative);
    }
}