@import '../../mixins.scss';

.disNone {
    display: none !important;
}

.field {
    @include disFlex($aI: center, $jC: center);
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background-image: url('/assets/images/board.jpg');
    background-size: 100% auto;
    @include position($pos: relative, $t: 0, $l: 0);

    .player-bar {
        @include disFlex($fD: column, $fWrap: wrap);
        width: 15vw;
        height: 80vh;
        overflow: visible;
        @include position($pos: absolute, $t: 0, $r: 0, $fWrap: nowrap);

        app-player {
            width: 100%;
            height: 10%;

            &.is-active {
                width: 110%;
                transform: translateX(-10%);
            }
        }
    }

    .card-stack {
        min-width: 100px;
        width: 7.65625%;
        max-width: 115px;
        aspect-ratio: 23 / 36;
        @include position($pos: relative);

        .card-image {
            width: 100%;
        }

        playing-card {
            width: 100%;
            height: 100%;
            @include position($pos: absolute, $t: 0, $l: 0);
        }
    }

    taken-card {
        width: 100px;
        height: fit-content;
        @include position($pos: absolute, $t: 0, $l: 0);
        transform: translateX(50%);

        img {
            width: 100%;
            height: auto;
            transform: scaleX(1) !important;
        }
    }

    .players-shown {
        animation: shift-in-players 500ms linear;
        transform: translateX(0);
    }

    .players-hidden {
        transform: translateX(0);
        animation: shift-out-players 500ms linear;
        transform: translateX(120%);
    }

    .buttons {
        @include disFlex($aI: center, $jC: space-evenly, $cG: 15px);
        @include position($pos: absolute, $r: 0, $b: 3%);
        width: 15vw;
        height: fit-content;
    }

    game-info {
        @include disFlex($aI: center, $jC: center, $cG: 5%);
        width: 90vw;
        height: 15vw;
        column-gap: 5%;
        @include position($pos: absolute, $l: 50%, $b: 30%);
    }
}

@keyframes shift-in-players {
    0% {
        transform: translateX(120%);
    }

    100% {
        transform: translate(0);
    }
}

@keyframes shift-out-players {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translate(120%);
    }
}